<mat-drawer-container class="example-container">

  <mat-drawer mode="side" opened class="left-content">
    <div class="input">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search City</mat-label>
        <input matInput placeholder="Ex. Sambrial" name="city" [formControl]="search">
      </mat-form-field>

      <div class="example-button-container">
        <button mat-raised-button color="primary" [disabled]="!search.value"  (click)="addWeather()" >
          <mat-icon>search</mat-icon>
        </button>

        <button mat-flat-button color="primary" style="margin-top: 5px;">Live</button>

      </div>
    </div>

    <!-- <ul *ngFor="let item of list">
      <li>{{item.name}}</li>
    </ul> -->

    <div class="example-button-container" *ngFor="let item of list">
      <button mat-flat-button color="primary" style="width: 65%; margin-left: 20px; ">{{item.name}}</button>
    </div>


  </mat-drawer>

  <mat-drawer-content class="right-content">
    <h1>Weather</h1>
    <div class="weather" *ngIf="weatherData">
      <mat-card>
        <div class="weather-data">
          <div class="location">{{ weatherData.name }}</div>
          <div class="temperature">{{ weatherData.main.temp | number: '1.0-0' }}°C</div>
        </div>
      </mat-card>

      <mat-card>
        <div class="weather-data">
          <div class="location">MIN</div>
          <div class="temperature">{{weatherData.main.temp_min | number: '1.0-0'}}°C</div>
        </div>
      </mat-card>
    </div>
    <div class="weather" *ngIf="weatherData">
      <mat-card>
        <div class="weather-data">
          <div class="location">MAX</div>
          <div class="temperature">{{weatherData.main.temp_max | number: '1.0-0'}}°C</div>
        </div>
      </mat-card>

      <mat-card>
        <div class="weather-data">
          <div class="location">Humidity</div>
          <div class="temperature">{{weatherData.main.humidity}}%</div>
        </div>
      </mat-card>

      <mat-card>
        <div class="weather-data">
          <div class="location">WIND</div>
          <div class="temperature" style="font-size: 3em;">{{weatherData.wind.speed}} km/h</div>
        </div>
      </mat-card>



    </div>

  </mat-drawer-content>

</mat-drawer-container>
