<h1>Weather</h1>
<div class="weather">
  <mat-card>
    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0' }}°C</div>
    </div>
  </mat-card>

  <mat-card>
    <div class="weather-data">
      <div class="location">MIN</div>
      <div class="temperature">{{weatherData.main.temp_min | number: '1.0-0'}}°C</div>
    </div>
  </mat-card>
</div>
<div class="weather">
  <mat-card>
    <div class="weather-data">
      <div class="location">MAX</div>
      <div class="temperature">{{weatherData.main.temp_max | number: '1.0-0'}}°C</div>
    </div>
  </mat-card>

  <mat-card>
    <div class="weather-data">
      <div class="location">Humidity</div>
      <div class="temperature">{{weatherData.main.humidity}}%</div>
    </div>
  </mat-card>

  <mat-card>
    <div class="weather-data">
      <div class="location">WIND</div>
      <div class="temperature">{{weatherData.wind.speed}} km/h</div>
    </div>
  </mat-card>



</div>
