h1{
  width: 100%;
  padding: 10px;
  background-color: gray;
  text-align: center;
}
.weather{
  display: flex;
  text-align: center;
  align-items: center;
}
mat-card{
  margin: 20px;
  width: 50%;
  height: 30vh;
  background-color: gray;
}


.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  color: var(--white);
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.temperature {
  color: var(--white);
  font-size: 4em;
  text-align: center;
  font-weight: 900;
}
